body{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	background:#337E8D;
	color: #fff;
}

.header{
	position:absolute;
	left:0;top:0;right:0;
	background:#372146;
	text-align: center;
	height:60px;
}

.main{
	position:absolute;
	left:0;right:0;top:60px;bottom:60px;
	padding:0 25px;
}

.footer{
	position:absolute;
	left:0;right:0;bottom:0;
	background: #E2D5B6;
	height:60px;
	color:#000;
}

.footer p{
	bottom: 0;
    display: inline-block;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}

.footer p i{
    text-align: center;
    width: 40%;
    height:100%;
}

.waitscreen{
	position:absolute;
	top:0;bottom:0;left:0;right:0;
	background:red;
	opacity:0.6;
}

.waitscreen img{
	text-align: center;
    width: 40%;
}

.show {
	display:block;
}

.hide {
	display:none;
}