<!doctype html>
<html ng-app="cqlpApp">
<head>
  <meta charset="utf-8">
  <title>C'est quoi le pire?</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/fa/css/font-awesome.min.css">
  <script src="js/angular.js"></script>
  <script src="js/app.js"></script>
</head>
<body>
  <header class="header">
    <h1>CQLP</h1>
  </header>

  <section class="main" ng-controller="CqlpCtrl">

     <span ng-show="wait" class="waitscreen"><img src="css/img/ajax.gif"/></span>

    <ul ng-show="choix1 != ''">
      <li>
        <span>{{choix1}} - {{choix2}}</span>
      </li>
    </ul>

        <button ng-click="fetch()" ng-hide="choix1 != ''">Démarrer</button>
        <button ng-click="fetch()" ng-show="choix1 != ''">Un autre</button>

        <p>Dilemme :{{compteur}}</p>
  </section>

  <footer class="footer">
    <p>
      <i class="fa fa-gamepad fa-3x"></i>
      <i class="fa fa-info-circle fa-3x"></i>
    </p>
  </footer>
 
</body>
</html>